* {
    margin: 0;
    padding: 0;
    zoom: 1;
}

input {
    height: 30px;
    width: 300px
}

textarea {
    height: 100px;
    width: 600px;
}

form {
    height: 1150px;
    background: linear-gradient( #1E1E1E, #1e1e1e, #F5F5F5, #F5F5F5, #1E1E1E, #1E1E1E);
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

a {
    color: black;
}

div.header {
    background: linear-gradient( #1E1E1E, #1e1e1e, #F5F5F5, #F5F5F5, #1E1E1E, #1E1E1E);
    height: 800px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

body {
    background: #F5F5F5;
}

div.espacio {
    height: 100px;
}

td.medios {
    height: 300px;
    width: 500px;
}

td.medneg {
    width: 500px;
    height: 300px;
    background-color: #1E1E1E;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 75px
}

h2 {
    font-size: 50x;
}

li {
    font-size: 25px;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

div.spc {
    height: 100px;
}

body {
    background-color: #F5F5F5;
    color: #1E1E1E;
}

div.header {
    background: linear-gradient( #1E1E1E, #1e1e1e, #F5F5F5);
    height: 800px;
    text-align: center;
}

hr {
    color: #1E1E1E;
    width: 100%;
}

h1 {
    color: #F5F5F5;
    font-size: 50px;
}

h2 {
    color: #1E1E1E;
    font-size: 40px;
}

div.feet {
    height: 150px;
    text-align: center;
}

div.menu {
    text-align: right;
}

button {
    border: 0px;
    color: #1E1E1E;
}

div.space {
    height: 150px;
}

td.right {
    width: 49%;
    text-align: right;
}

td.justify {
    width: 40%;
    text-align: justify;
}

td.left {
    width: 40%;
    text-align: left;
}

td.diseño {
    border: 1px;
    border-color: #1E1E1E;
    width: 400px;
}

tr.diseño {
    border: 1px;
    border-color: #1E1E1E;
    height: 300px;
}

table {
    text-align: center;
    align-items: center;
}

td.espacio {
    width: 10%;
}

img {
    height: 150px;
}

a {
    color: #1E1E1E;
}

td.espacio {
    width: 9.5%;
}

td.centro {
    width: 80%;
}